{% extends "MusicClub/base.html" %}

{% load static %}

{% block main %}

<br>
<main class="container">
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">About</h2>
        <p class="blog-post-meta">Marzo, 2023 by<a href="https://getbootstrap.com/docs/5.3/examples/blog/#"> Jeremias Castro</a></p>

        <p>Esta página fue desarrolada como trabajo final del curso de Python dictado por CoderHouse. En ella se pueden verificar las siguientes funcionalidades requeridas:</p>
        <ul>
        <li>Alta/baja y modificación de usuarios.</li>
        <li>Carga y administración de publicaciones.</li>
        <li>Navegabilidad completa.</li>
        </ul>
        <p>Agradezo al profesor y a los tutores por la disponibilidad y amabilidad.</p>
    </article>
</main>
{% endblock %}